body {
 background-image: url(Background5.jpg);
 background-size: 200%;
}
h1{
    text-align: center;
    font-family: cursive;
    color: rgb(4, 4, 22);
}
 #image img{
    width: 70%;
    height: 150;
    vertical-align: right;
    display: flex;
}
.table1{
    width: 100%;
}
.table1 td{
    width: 60%;
}
.table1 p{
    align-content: center;
    text-align: left;
    color: rgb(3, 17, 17);
    font-size: larger;
    font-family: cursive;
    width: 80%;
    display: flex;
}
.image1{
    width: 80px;
}
.image2{
    width: 120px;
}
.resume h3,h2{
    color: rgb(3, 17, 17);
    font-weight: bold;
    font-family: cursive;
}
.resume{
    font-family: cursive;
    color: rgb(3, 17, 17);
}
.resume ul{
    list-style:disc;
}
.css{
    font-family: cursive;
    color: rgb(3, 17, 17);
}

#t2 {
    text-align: Left;
    font-family: cursive;
    color: rgb(3, 17, 17);
    font-size: larger;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
.table3{
    margin-left: auto;
    margin-right: auto;
    border-collapse: separate;
    margin-top: 100px;
    width: 60%;
    text-align: center;
    font-family: cursive;
    color: rgb(3, 17, 17);
    border: 1px solid black;
    border-collapse: collapse;

}
.table3 td{
    border: 1px solid black;
    border-collapse: collapse;
}
.table3 th{
    border: 1px solid black;
    border-collapse: collapse;
}
.wheat1{
    background-color: rgb(250, 123, 123);
}
.wheat2{
    background-color: rgb(238, 83, 122);
}
.wheat3{
    background-color: rgb(255, 108, 145);
}
.wheat4{
    background-color: rgb(240, 105, 100);
}
.red1{
    background-color: rgb(243, 157, 168);
}
.red2{
    background-color: rgb(206, 130, 140);
}
.red3{
    background-color: rgb(231, 120, 135);
}
.red4{
    background-color: rgb(223, 95, 112);
}
.salmon{
    background-color: rgb(248, 115, 100);
}
.red5{
    background-color: rgb(245, 130, 94);
}
.bold1{
    font-weight: bold;
    font-size: large;
    background-color: rgb(250, 107, 190);
}
.bold2{
    font-weight: bold;
    font-size: large;
    background-color: rgb(236, 95, 95);
}
.bold3{
    font-weight: bold;
    font-size: large;
    background-color: rgb(226, 127, 97);

}
.bold4{
    font-weight: bold;
    font-size: large;
    background-color: rgb(240, 102, 84);

}
caption{
    font-size: larger;
    font-weight: bold;
}
.bold{
    font-weight: bold;
    font-size: larger;
    background-color: rgba(247, 22, 71, 0.329);
}
.tabs{
    display: flex;
    flex-wrap: wrap;
    padding: 25px;
}
.tabs input[type="radio"] {
    display: none;
}
.tabs label{
    background-color: teal;
    padding: 15px;
    font-weight: bold;
    font-family: cursive;
}
.tabs .tab-content{
    width: 100%;
    order: 1;
    display: none;
}
.tabs input[type='radio']:checked + label + .tab-content {
    display: block;
}
.tabs input[type='radio']:checked + label{
    background: rgb(169, 218, 233);
}
a:hover{
    color: rgba(43, 39, 3, 0.473);
    font-weight: bolder;
}

a{
    font-weight: bolder;
    font-size: large;
}
mark{
    color: red;
    font-weight: bolder;
    background: none;
}
span{
    font-weight: bolder;
}
